body{
    background-image: url("../icons/Seafood-wallpaper.jpg");
    background-size: cover;
    
}


.header{
        
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(69, 69, 69);
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
}


    .Learning-Seafood-Cuisine{
        width:180px;
        height: 60px;
        display:flex;
        align-items: center;
        text-align: center;
        flex-shrink: 0;
        font-weight: 700;
        font-style: oblique;
        padding-top: 1px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(69, 69, 69);
        border-radius: 5px;
        background-color:rgb(238, 99, 29);
        
    }

    
    .HeaderPages{
        height: 60px;
        display:flex;
        padding-left: 20px;
        padding-right: 10px;
        align-items: center;
        background-color:rgb(242, 240, 237);
        opacity:0.8;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(69, 69, 69);
        flex: 1;}

    .header-links{

        color: black;
        text-decoration: none;
        font-style: italic;
    }
    .header-links:hover{
        opacity:0.8;
        color: rgb(74, 107, 239);
    }
    .header-links:active{
        opacity:0.5;
        color: rgb(238, 99, 29);
        
    }
    .header-link-active{
        color: rgb(238, 99, 29);
        text-decoration: none;
        font-weight: 700;
        font-style: italic;
    }
    .header-link-active:hover{
        opacity:0.8;
        color: rgb(74, 107, 239);
    }
    .header-link-active:active{
        opacity:0.9;
        color: rgb(238, 99, 29);

    }

    .search-box{
        display:flex;
        flex: 1;   
        padding-right: 5px;
        
    } 
    .search-bar{
        flex: 1;
        width:0px;
        height: 30px;
        padding-left: 5px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4%;
        border-color: rgb(98, 98, 98)   
        
    }

    .search-bar::placeholder {
        font-family:Arial, Helvetica, sans-serif;
        padding-left: 5px;

    }

    .search-button{
        height: 33px;
        width: 40px;
        margin-left: -1px;
        border-radius: 8%;
        border-width: 1px;
        border-color: rgb(98, 98, 98);
        background-color: white;
        cursor:pointer;
        box-shadow: 5px 5px 10px rgb(69, 69, 69,00.15s);
        transition: box-shadow 0.15s;
        
    }

    .search-button:hover{
        opacity:0.5;
        background-color:  rgb(74, 107, 239);
    }

    .logo{
        height: 40px;
    }
    .search-icon{
        height: 20px;
        margin-right:100px;
        margin-top: 5px;
    }

    .nextpage-Button{
       
        background-color: rgb(238, 99, 29);
        border-radius: 10px;
        width: 100px;
        height: 50px;
        float: right;
        
    }   
    
    .previouspage-Button{
       
        background-color: rgb(238, 99, 29);
        border-radius: 10px;
        width: 100px;
        height: 50px;
        float: left;
        
    } 
    .nextpage-text{
        text-decoration: none;
        color:black

    }
    .Page-heading{
        font-family:Gill Sans;
        text-decoration: underline;
        text-align: center;
        font-style: oblique;
        margin-top: 40px;
        margin-bottom: 20px;
        
    }
    .info-H{
        padding-top: 40px;
        font-size: small;
        padding-left: 25px;
    }
    .page-info{
        font-size: small;
        padding-left: 25px;
        padding-bottom:20px;
    }

