.Page-heading{
    font-style: italic;
    text-align: center;  
}
.welcomeM-box{
    display: flex;
    display:block;
    text-align: center; 
}
.Welcome-message{
    text-align: center;
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 100px;
    
}
.Popular-seafood{
    font-weight: bold;
    font-size:x-large;
    font-style: italic;
    margin-left: 25px;
    margin-bottom: 50px;
}

.HomePageIMGs {
    width: 390px;
    height: 390px;
    object-fit: fill;
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    display:flex;
    display: block;
    justify-content: start;
    align-items: center;

}
.HP-Imagebox {
    display:flex;
    flex-direction: row;
    margin-left: 100px;  
    margin-right: 1px;
    margin-bottom: 150px;
}
.HP-Imagetext{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.start-message{
    font-size: large;
    width: 70%;
    margin-left: 25px;
    margin-bottom: 100px;
}